{% extends "base.html" %}

{% block title %}About CosmoTalks{% endblock %}

{% block extra_head %}
<style>
 ul {
   display: block;
   list-style-type: disc;
   margin-top: 1em;
   margin-bottom: 1 em;
   margin-left: 0;
   margin-right: 0;
   padding-left: 40px;
 } 
</style>
{% endblock %}

{% block content %}

{{ render_markdown("""

## About CosmoTalks

**[Home](/) &nbsp; | &nbsp; [Talks](/cosmotalks/talks) &nbsp; | &nbsp; [Series](/cosmotalks/series) &nbsp; | &nbsp; [Usage Tips](/tips) &nbsp; | &nbsp; [KITP sublistings](/kitp) &nbsp; | **

This is a **work-in-progress** on a database collection of links to talks by cosmology researchers intended for others in the field. Currently [5,098 online talks](/cosmotalks/talks) are listed, and more are forthcoming. The data is gathered from at present [155 diverse sources](/cosmotalks/series) (called 'series') that have published talks from conferences, seminars, workshops, course lectures, summer schools, colloquia, etc.

This collection was started out of personal interest because no one site was found that comprehensively compiles such data from a wide range of sources. There are many sources available so this represents only a fraction of the total that's out there; still, it's a starter attempt to extend beyond what's otherwise available in one place.

Several categories of talks (labeled '**series**' in the data) are included, e.g.:

+ Cosmologists talking about their recent papers (e.g., [Cosmology Talks hosted by Shaun Hotchkiss](https://www.youtube.com/channel/UCstdttIo3HM6h3hDk_v2hug/videos), [Cosmology from Home](https://www.cosmologyfromhome.com/))
+ Lectures (e.g., summer schools etc, such as those offered by [ICTP](https://www.ictp.it/programmes/career-development.aspx))
+ Conference talks (e.g., [ESO H0 2020](https://www.eso.org/sci/meetings/2020/H0.html), [TeVPA](https://indico.cern.ch/event/828038/), [Neutrino 2020](https://conferences.fnal.gov/nu2020/))
+ Talks sponsored by academic or other institutions (e.g., [KITP](https://www.kitp.ucsb.edu/), [KIPAC](https://kipac.stanford.edu/), [NORDITA](https://www.nordita.org/video/index.php?ev=advcosmo2017), [Perimeter Institute](http://pirsa.org/), [QMUL](https://www.youtube.com/channel/UCSqkcW7CMS5X7TArwO5Vpbw/videos), [Simons Foundation](https://www.simonsfoundation.org/sf-events/simons-foundation-lectures/), etc)
+ Collected talks by individuals (e.g., [Licia Verde](https://www.youtube.com/watch?v=C_nim3H7GYE&list=PLb0Uu8daWIA0eDBxZEHvf5-l2OAUCujZW), [Risa Wechsler](https://www.youtube.com/playlist?list=PL93BCCE8FAC40EBD5))
+ Miscellaneous departmental seminars, workshops, colloquia, etc (e.g., [KICP Colloquia](https://www.youtube.com/channel/UCejbBNzH6AfWNwg5V_AQGlg/videos))
<p></p> 
Where a series includes some talks that are not cosmology related, those non-cosmology talks are generally not listed here.
<p></p> 
[Datasette](https://datasette.io/) is the open-source tool used to build the database and web app and publish the data. It was created by [Simon Willison](simonwillison.net) ([github repo](https://github.com/simonw/datasette), [@simonw](https://twitter.com/simonw) on twitter). Many thanks to Simon for making this excellent tool available - it's a great match for this project and also especially for projects utilizing SQLite database files.

The source code for this app is on GitHub [in this repo](https://github.com/jrdmb/cosmotalks-datasette).

Are you a researcher? Have you given cosmology-related research talks or academic lectures publicly-available online that aren't in this database? Or know of ones by others that should be included? (criteria: intended for an audience of other cosmology researchers or students.) If so, I'd like to know about them and would appreciate a message to my [twitter account](https://twitter.com/jrdmb).

Another way to view and search this data is available from this [alternate app](https://jrdmb.netlify.app/crt.html). Some may find they prefer using it. It's nice to have options!

Version dated 2022-08-06
""") }}


{% endblock %}
